<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>No Page Found</title>
	<link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="/css/teacher-room.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/core.js"></script>
	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
</head>

<body>
	<header>
		<div class="header-container">
			<h1 class="header-1">whiteboard.io</h1>
			<nav>
				<ul class="nav-items" data-tag="room-list">
					<li id="dashboard">
						<a href="/dashboard">Dashboard</a>
					</li>
					<li id="room">
						<a href="/room">Room</a>
					</li>
					<li id="practice">
						<a href="">Practice</a>
					</li>
					<li id="notifications">
						<div class="notification-nav-container">
							<a href="">Notifications</a>
							<div class="red-dot">10</div>
						</div>
					</li>
					<li id="logout">
						<a href="/logout">Logout</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>

	<div class="container">
		<main style="display: flex; align-items: center; justify-content: center;">
			<h1>
				No Page found!
			</h1>
		</main>
	</div>
</body>

</html>